# Node.js
node_modules/
package-lock.json

# Logs
logs
*.log

# Dependency directory
dependencies

# dotenv environment variables file
.env

# Optional: Uncomment the following line if you use Yarn
# yarn.lock
